/*
    Kitty Tyree and Sriya Konda
    mockup3.css
    Jeff Ondich, 4 November 2021
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
*/

body{
  font-family: Sans-Serif;
  color: white;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

.homeIcon {
  height: 53px;
  width: 53px;
  margin: 7px;
  font-size: 35px;
  text-align: center;
}

ul {
  list-style-type: none;
  width: 70%;
}

h1{
  text-align: center;
  font-size: 100px;
  color: white;
}

table{
  padding-top: 40px;
  color: white;
  margin-top:40px;
  border-collapse: collapse;
}

a{
  text-decoration: none;
  font-size: 22px;
}

td, th{
  padding: 0 45px;
}

#submit_button{
  padding: 15px 20px;
  background-color: #1DB954;
  font-size: 12px;
}

select{
  padding: 10px 10px;
}

label{
  font-size: 20px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}
