/*
    Kitty Tyree and Sriya Konda
    mockup1.css
    Jeff Ondich, 4 November 2021
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
*/

html, body{
  max-width: 100%;
  overflow-x: hidden;
  font-family: Sans-Serif;
}

button {
  display: block;
  cursor: pointer;
}

.button1 {
  border: none;
  color: white;
  height: 150px;
  width: 230px;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  border-radius: 12px;
  background-color: #1DB954;
}

a {
  text-decoration: none;
}

.button_link{
  color:white;
}

.homeIcon {
  height: 53px;
  width: 53px;
  margin: 7px;
  font-size: 35px;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 630%;
}

p, h1{
  color: white;
}

.center{
  margin-left: auto;
  margin-right: auto;
}
