/*
    Kitty Tyree and Sriya Konda
    mockup4.css
    Jeff Ondich, 4 November 2021
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
*/

button {
  cursor: pointer;
}

.homeIcon {
  height: 53px;
  width: 53px;
  margin-top: : 7px;
  font-size: 35px;
  text-align: center;
  margin-left: 9px;
}


h1{
  margin-left: inherit;
  text-align: center;
  font-size: 80px;
  color: #1DB954;
  text-decoration: underline;
  text-decoration-color: white;
}

body, table{
  color: white;
}

body {
  font-family: "Lato", sans-serif;
}

a{
  text-decoration: none;
  font-size: 22px;
  cursor: default;

}


tr {
  padding-top: 10%;
  padding-bottom:10%;
}

td, th{
  padding: 0 45px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 17%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: white;
}

.sidenav p {
  text-decoration: none;
  font-size: 25px;
  color: white;
  margin-left: 9px;
}


.main {
  margin-left: 100px;
  font-size: 28px; /* Increased text to enable scrolling */
}

.center {
  margin-left: inherit;
}



.slidecontainer {
  width: 70%; /* Width of the outside container */
  height: 40px;
  padding-bottom: 15px;
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%;
  height: 25px; /* Specified height */
  background: #1DB954; /* Grey background */
  outline: none; /* Remove outline */
  border-radius: 10px;
  margin-left: 9px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 100%;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
}

#submit_button {
  float: right;
  margin-right: 9px;
  cursor: pointer;
}

#HomeButton {
  cursor:pointer;
}
