/*
    Kitty Tyree and Sriya Konda
    date_search.css
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
*/

html{
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

body{
  font-family: Sans-Serif;
  color: white;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  width: 70%;
}

h1{
  text-align: center;
  font-size: 100px;
  color: white;
  text-decoration: underline;
  text-decoration-color: #1DB954;
}

select {
  cursor: pointer;
}

a{
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
}

table{
  padding-top: 40px;
  color: white;
  margin-top:40px;
  border-collapse: collapse;
}

td, th{
  padding: 0 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}

th{
  font-size: 48px;
}

select{
  padding: 10px 10px;
}

label{
  font-size: 20px;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.homeIcon {
  height: 53px;
  width: 53px;
  margin: 7px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
}

#submit_button{
  padding: 10px 15px;
  background-color: #1DB954;
  font-size: 20px;
  color:white;
  border:none;
  border-radius: 3px;
  cursor: pointer;
}
