/*
    Kitty Tyree and Sriya Konda
    mockup4.css
    Jeff Ondich, 4 November 2021
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
*/

button {
  display: block;
  cursor: pointer;
}

.homeIcon {
  height: 53px;
  width: 53px;
  margin: 7px;
  font-size: 35px;
  text-align: center;
  margin-left: 160px; /* Same as the width of the sidenav */
}


h1{
  text-align: center;
  font-size: 80px;
  color: #1DB954;
  text-decoration: underline;
  text-decoration-color: white;
}

body, table{
  color: white;
}

body {
  font-family: "Lato", sans-serif;
}

a{
  text-decoration: none;
  font-size: 22px;

}

form {
text-align: left;
margin-left: 5px;
}

td, th{
  padding: 0 45px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

input[type=int]{
  margin-left: 10%;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #1DB954;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  outline: none;
  width: 15%;
}


.slidecontainer {
  width: 70%; /* Width of the outside container */
  height: 40px;
  padding-bottom: 15px;
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 70%;
  height: 25px; /* Specified height */
  background: #1DB954; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 10px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 100%;
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: yellow; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
