<!--
    Kitty Tyree and Sriya Konda
    artist_search.html
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='artist_search.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='artist_search.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Search By Artist</title>

</head>


<body style="background-color:#181717;">
    <a href="home"><button class="homeIcon">🏠</button></a>
    <h1>Search by Artist</h1>
    <div>
      <p><input id="artist_query" type="text" placeholder="🔍 Search...">
      <button id="go_button">Go!</button></p>
    </div>

    <table id="song_table" class="center"></table>



</body>
</html>
