<!--
    Kitty Tyree and Sriya Konda
    mockup4.html
    Jeff Ondich, 4 November 2021
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup4.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='mockup4.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>HTML/CSS samples</title>
</head>


<body style="background-color:#181717;">
    <a href="home"><button class="homeIcon">🏠</button></a>


    <div class="sidenav">
      <form action="/action_page.php?">
      <!-- <a href="#Genre">Genre</a>
        <input type="checkbox" id="rock" name="rock" value="rock">
        <label for="rock">rock</label><br>
        <input type="checkbox" id="pop" name="pop" value="pop">
        <label for="pop">pop</label><br>
        <input type="checkbox" id="country" name="country" value="country">
        <label for="country">country</label><br><br> -->
      <a href="#Energy">Energy Level</a>
        <div class=“slidecontainer”>
          <input id="energy_value" type="range" min="1" max="100" value="50" class="slider"><br><br>
        </div>
      <!-- <a href="#Duration" class="time">Duration of Playlist</a>
        <ul>
          <li>hr:
            <input type="int" id="hr" name="hr" placeholder="hr">
          </li>
          <li>
            min:
            <input type="int" id="min" name="min" placeholder="min"><br><br>
          </li></ul> -->
          <input id="submit_button" type="submit" value="Submit">
      </form>
    </div>


    </div>

<div class="main">
  <h1>Let's make you a playlist!</h1>
  <table id="playlist_table" class= "center">
  </table>
</div>


</body>
</html>
