<!--
    Kitty Tyree and Sriya Konda
    mockup1.html
    Jeff Ondich, 4 November 2021
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
'-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup1.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='mockup1.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Spotifi homepage</title>

</head>
<body style="background-color:#181717;">
    <h1>Welcome!</h1>
    <table class="button center">
      <tr>
        <td><a class="button_link" href="top_200"><button class="button1">Find Chart for this Day!</button></a></td>
        <td><a class="button_link" href="generate_playlist"><button class="button1">Generate me a Playlist!</button></a></td>
        <td><a class="button_link" href="artists"><button class="button1">Artist's Songs!</button></a></td>
      </tr>
    </table>



</body>
</html>
