<!--
    Kitty Tyree and Sriya Konda
    mockup4.html
    Jeff Ondich, 4 November 2021
    For use in the "webapp" assignment for Carleton's
    CS 257 Software Design class, Fall 2021.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup4.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='mockup4.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Generate a Playlist</title>
</head>


<body style="background-color:#181717;">


    <div class="sidenav">
      <a href="home" id="HomeButton"><button class="homeIcon">🏠</button></a>
      <p>Energy Level</p>
        <div class=“slidecontainer”>
          <input id="energy_value" type="range" min="1" max="100" value="50" class="slider"><br><br>
        </div>
      <!-- <a href="#Duration" class="time">Duration of Playlist</a>
        <ul>
          <li>hr:
            <input type="int" id="hr" name="hr" placeholder="hr">
          </li>
          <li>
            min:
            <input type="int" id="min" name="min" placeholder="min"><br><br>
          </li></ul> -->
          <input id="submit_button" type="submit" value="Submit">
    </div>



<div class="main">
  <h1>Let's make you a playlist!</h1>
  <table id="playlist_table" class= "center">
  </table>
</div>


</body>
</html>
